
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    background: linear-gradient(var(--ColorMasAzul),var(--ColorAzul));
}


html {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
}

:root{
    --ColorCeleste:#69a4fb;
    --ColorMasCeleste:#1c30f4;
    --ColorAzul:rgb(3, 35, 123);
    --ColorMasAzul:rgb(10,15,50);
}



/* Seccion Nav - Menu */
.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.contenedorMenu{
    background: linear-gradient(var(--ColorMasAzul),var(--ColorAzul), rgb(35, 35, 255));
    box-shadow: 2px 0px 5px 2px rgb(42, 42,42);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition:  1s ;
}

.active{
    transform: translate(-800px);
}

.opacity{
    
    transition: 1s;
}

.contenedorMenu ul{ 

    padding: 100px 0px 20px 0px;
    list-style: none;
}

.contenedorMenu a{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
    
}

.contenedorMenu a:hover{
    background-color: rgba(255, 255, 255, 0.637);
    color: black;
}


.titulo{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin: 20px;
}

/* Seccion tres - info*/
.contenedorInformacion{
    
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template: 0.5fr 1fr / repeat(3, 32%);
    grid-template-areas: 
    "imagen imagen imagen"
    "texto texto texto";
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.card img{

    width: 100%;
    grid-area: imagen;
    border-radius: 8px;
    transition: 2s;

}



.card p{
    
    padding: 8px;
    text-align: left;
    color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
    grid-area: texto;
    height: 200px;
    font-family: 'Times New Roman', Times, serif;
    transition: 2s;
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden auto;
}

.card i{

    font-size: 15px;
    color: #eaf911;
}


header{
    
    height: 150px;
}

/* Seccion uno - carrusel */
.slider{
    width: 100%;
    height: 45%;
    overflow: hidden;
    
}

.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li{
    width: 100%;
    list-style: none;
   
    overflow: hidden;
}

.slider img{
    width: 100%;
    height: 85%;
    align-self: center;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.carrusel{
    
    width: 100%;
    margin: -70px auto 20px;
   
}

/*Seccion formulario*/

.seccionFormulario{

    width: 100%;
    height: screen;
    justify-content:center;
    align-items: top;
}



.formulario{

    width: 60%;
    text-align: center;
    margin: auto;
    color:white;
    background: linear-gradient( rgba(137, 114, 255, 0.265), rgba(66, 62, 255, 0.171));
    box-shadow:0px 2px 10px #c7caff;
    border-radius:10px ;
    justify-content: center;
  
}
.formulario h2{
    font-size: 100%;
    margin: 20% auto 5%;
}

.elemento{
    
    margin: 3% auto ;
   
}

.elemento label{
    font-weight: semibold;
    font-size: 80%;
    padding: 2px;
    text-align: center;
  
}

.elemento input{

    width: 40%;
    height: 20px;
    background-color: #69a4fb;
    color: aliceblue;
    border-radius: 5px;
    font-size: 80%;
    padding: 1%;
    
}

.elemento input[type="checkbox"]{
   
   width: auto;
   height: auto;
   vertical-align: bottom;
}

.elemento input[type="submit"]{
    width: auto;
    height: auto;
    border: 3px solid #5566ff;
    box-shadow: 1px 1px 15px rgb(22, 0, 130);
    margin: 10px;
    
}

.elemento input[type="submit"]:hover{
   
    border: 3px solid #3c4ffa;
    box-shadow: 2px 2px 15px rgb(10, 0, 57);
    color: #3700ff;
    cursor: pointer;
}

/*  */
.formuImagenes{
    margin-top: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
.formuImagenes img{
    width: 42%;
    margin: 20px 5px;
    border-radius:10% ;
    justify-content: space-between;
    align-items: center;

}
.formuImagenes img:hover{
    width: 46%;
    box-shadow: 0px 0px 15px white;
    
}

/* pie de pagina - footer */
.pieDePagina{

    height: 20%;
    margin-top: 20px;
    background-color: rgb(0, 0, 70);
}

.pieDePagina h2{
    color: #0077ff;
    text-align: center;
    padding: 10px;
    font-size: 15px;

}

.pieDePagina span{
    font-size: 10px;
    padding: 5px;
}

.pieDePagina ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
   flex-wrap: wrap;
 }

 .pieDePagina a{

    text-decoration: none;
    color: white;
    font-size: 8px;
    margin: 6px;  
    
}
.pieDePagina a:hover{

    color: var(--ColorCeleste);

}

/* Seccion Dos - Paquetes */

.paquetes{

    height: 20%;
    width: 100%; 
    margin-top: -10%;
    overflow: hidden;
    
}



.paquetes h3{
    font-size: 60%;
    text-align: center;
    margin: 15px;
    padding: 2%;
    animation: anim 10s infinite;
}

@keyframes anim {
    from { color: var(--ColorMasAzul)}
    to { color: #c7e1fe}  
   
}

.contenedorPaquetes{

    display: flex;
    flex-wrap: wrap;
    animation: EntrarIzquierda .8s ease;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
    
}

@keyframes EntrarIzquierda{

    from{
        transform: translateX(-200%);
    }

    to{
        transform: translateX(0);
    }
}

.cardPaquete{

    box-shadow:2px 2px 10px black;
    height: 150px;
    width: 27%;
    border-radius: 5px;
    background-color: white;
    margin: 2%;
    overflow: hidden;
    cursor: pointer;
  
    
}

.cardPaquete:hover{

    box-shadow:1px 1px 10px rgb(255, 255, 255);
    height: 100%;
}

.cardImagen img{
    width: 100%;
    border-radius: 5px;
    padding: 3%;
}

.cardTexto{

    width: auto;
}

.cardTexto h2{

    font-size: 50%;
    text-align: center;
   
}



.cardTexto ul li{
    
    margin-top: 8%;
    color: rgb(0, 0, 0);
    font-size: 45%;
    text-align: center;
    padding: 0% 3%;
    
}


.cardTexto ul li a{
    text-decoration: none;
    font-size: 10px; 
    text-transform: lowercase;
    color: #0077ff;
}

.cardTexto ul li a:hover{
   
    color: #fb00ff;
}


.cardTexto h2 span{

    font-size: 12px;
    vertical-align: middle;
}


@media (min-width: 769px) {
    

    .icono-menu{
        
        display: none;
       
    }
    
    
    .contenedorMenu{
        
        width: 100%;
        height: 50px;
    
    }

    .active{
        transform: translate(0px);
    }
      
    .contenedorMenu ul{ 
    
        justify-content: space-around;
        display: flex;
        list-style: none;
        background-color: rgb(255, 255, 255);
    }
    
    .contenedorMenu a{
        
        color: rgb(0, 0, 0);
        font-size: 25px;
        text-decoration: none;
        padding: 10px 20px;
        cursor: pointer;
        margin: -70px 0;
        
    }
    
    .contenedorMenu a:hover{
        background: linear-gradient(var(--ColorMasAzul),var(--ColorAzul), rgb(35, 35, 255));
        color: white;
        border-radius: 10px;
       
    }

    .seccionInformacion{
        
        color: rgb(0, 90, 169);
        text-align: center;
        width: 100%;   
    }


    .contenedorInformacion:hover .card img{
    
        transition: 1s;
        box-shadow: 2px 2px 5px #0077ff;
        filter:blur(2px);
    }
    
    .contenedorInformacion:hover .card p{
        
        transition: 1s;
        filter: none;
        box-shadow: 2px 2px 15px #ffffff;
       
    }

    .card p{
        font-size: 95%;
        overflow: hidden auto;
        margin: 10px 8px;
        filter: blur(5px);
        height: 250px;
    }

    
    
    .titulo{
        text-align: center;
        font-size: 20px;
        
    }


    .slider{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slider img{
        width: 100%;
        height: 75%;
        align-self: center;
    }

    .carrusel{
        
        width: 100%;
        margin: -30px auto 10px;
    }

    .paquetes{

        height:850px;
        
    }

    .cardPaquete{

        height: 450px;
        width: 20%;
   
    }

    .cardPaquete:hover{

        height: 100%;
    }

    
    .cardTexto h2{
    
        font-size: 100%;
    }
    
    
    
    .cardTexto ul li{
        
        font-size: 85%;
        
    }
    
    
    .cardTexto ul li a{
    
        font-size: 15px; 
      
    }

    .paquetes h3{
        font-size: 100%;
        
    }
   


    .seccionFormulario{


        justify-content:flex-start;
        display: flex;
    
    }
    
    .formulario{
    
        width: 30%;
        height: 80%;
        margin:5%;
    }
    
    .elemento{
    
        margin: 7% auto ;
       
    }

    .formulario h2{
        font-size: 140%;
    }
    
    .formuImagenes{
        margin-top: auto;
       
    }
    .formuImagenes img{
        width: 38%;
    }
   
    .pieDePagina{

        height: 120px;
        margin-top: 100px;
        background-color: rgb(0, 0, 70);
    }
    
    .pieDePagina h2{
       
        padding: 20px;
        font-size: 25px;
    
    }
    
    .pieDePagina span{
        font-size: 15px;
    }
    
    .pieDePagina a{

        
        font-size: 15px;
    }

}
